### Web Crawing
- 웹 페이지의 종류
    - 정적 페이지 : 페이지의 데이터가 변경될 때 URL이 변경 O, 서버에서 **html**을 받아와서 다른 file(page)를 출력.
    - 동적 페이지 : 페이지의 데이터가 변경될 때 URL이 변경 X, 서버에서 **json**을 받아와서 딕셔너리에 추가됨.
- requests package
    - 브라우저 URL을 입력하면 서버에서 데이터를 다운받아 화면에 출력. : URL -> DATA
    - request 패키지 : URL -> DATA

### Naver Stock Data
- Kospi 지수
- Kosdaq 지수
- USD : 원달러 환율

In [3]:
import requests
import pandas as pd

1. 웹 서비스를 분석 : 크롬 개발자 도구 : URL
2. 데이터를 요청하는 Request > 데이터를 받아오는 Response : JSON(str)
3. JSON(str) > python의 list, dict > DataFrame으로 출력.

- 참고1: PC버전에 자료가 많다고 느껴지면 모바일버전에서 확인해보기.
    - 1. F12를 눌러서 크롬 개발자 도구를 연다.
    - 2. Element 탭을 열어서, 바로 왼쪽의 아이콘(Toggle device toolbar)를 누른다.
    - 3. Dimension을 설정 후, 페이지를 새로고침(F5)을 한다. (or 브라우저 주소창을 누르고 엔터)
    - 안되는 경우가 있는데, 이 경우엔 모바일 버전의 홈페이지를 연다.

- 참고2 : Network탭에서 데이터를 받는 URL을 찾을 수 있다.

In [19]:
# 1. 웹 서비스를 분석. : 크롬 개발자 도구 : URL
# https://m.stock.naver.com/
url = 'https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4'

In [7]:
# 2. requeset(url) > response(json) : JSON(str)
response = requests.get(url) # Shift + Tab을 눌러서 함수 확인 가능.
response # <Response [200]> 이 뜨는데 이것은 접속 성공의 의미이다.

In [9]:
response.text # 리스트 안에 딕셔너리가 있는 것을 확인할 수 있다.

'[{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice":"2,417.11","highPrice":"2,418.05","lowPrice":"2,342.81"},{"localTradedAt":"2022-06-21","closePrice":"2,408.93","compareToPreviousClosePrice":"17.90","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.75","openPrice":"2,402.99","highPrice":"2,423.48","lowPrice":"2,385.60"},{"localTradedAt":"2022-06-20","closePrice":"2,391.03","compareToPreviousClosePrice":"-49.90","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.04","openPrice":"2,449.89","highPrice":"2,449.89","lowPrice":"2,372.35"},{"localTradedAt":"2022-06-17","closePrice":"2,440.93","compareToPreviousClosePrice":"-10.48","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.43","openPrice":"2,409.72","highPrice":"2,441.34","lowPrice":"2,396.47"},{"localTradedAt":"2022-06-16","closePrice":"2,451.41","compareToPreviousClosePrice":"4.03","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.16","openPrice":"2,481.66","highPrice":"2,500.36","lowPrice":"2,447.33"},{"localTradedAt":"2022-06-15","closePrice":"2,447.38","compareToPreviousClosePrice":"-45.59","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.83","openPrice":"2,490.01","highPrice":"2,495.54","lowPrice":"2,436.04"},{"localTradedAt":"2022-06-14","closePrice":"2,492.97","compareToPreviousClosePrice":"-11.54","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.46","openPrice":"2,472.96","highPrice":"2,503.17","lowPrice":"2,457.39"},{"localTradedAt":"2022-06-13","closePrice":"2,504.51","compareToPreviousClosePrice":"-91.36","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-3.52","openPrice":"2,550.21","highPrice":"2,550.32","lowPrice":"2,504.51"},{"localTradedAt":"2022-06-10","closePrice":"2,595.87","compareToPreviousClosePrice":"-29.57","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.13","openPrice":"2,596.37","highPrice":"2,602.80","lowPrice":"2,583.74"},{"localTradedAt":"2022-06-09","closePrice":"2,625.44","compareToPreviousClosePrice":"-0.71","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.03","openPrice":"2,618.92","highPrice":"2,627.88","lowPrice":"2,606.61"}]'

In [10]:
response.text[:200]

'[{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice"'

In [16]:
# 3. JSON(str) > list, dict > DataFrame
data = response.json()
type(data), data[:2]

(list,
 [{'localTradedAt': '2022-06-22',
   'closePrice': '2,342.81',
   'compareToPreviousClosePrice': '-66.12',
   'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
   'fluctuationsRatio': '-2.74',
   'openPrice': '2,417.11',
   'highPrice': '2,418.05',
   'lowPrice': '2,342.81'},
  {'localTradedAt': '2022-06-21',
   'closePrice': '2,408.93',
   'compareToPreviousClosePrice': '17.90',
   'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
   'fluctuationsRatio': '0.75',
   'openPrice': '2,402.99',
   'highPrice': '2,423.48',
   'lowPrice': '2,385.60'}])

In [20]:
df = pd.DataFrame(data)[['localTradedAt', 'closePrice']]
df.tail(4)

  localTradedAt closePrice
6    2022-06-14   2,492.97
7    2022-06-13   2,504.51
8    2022-06-10   2,595.87
9    2022-06-09   2,625.44

In [21]:
# 4. 함수 만들기
# parmas : pagesize, page
# https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4
# 크론탭(crontab)을 이용하면 특정 시간에 특정 코드를 실행시키는 스케줄링을 할 수 있음.

In [41]:
def stock_price(pagesize, page):
    url = f'https://m.stock.naver.com/api/index/KOSPI/price?pageSize={pagesize}&page={page}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[['localTradedAt', 'closePrice']]

In [23]:
stock_price(30, 2)

   localTradedAt closePrice
0     2022-06-22   2,342.81
1     2022-06-21   2,408.93
2     2022-06-20   2,391.03
3     2022-06-17   2,440.93
4     2022-06-16   2,451.41
5     2022-06-15   2,447.38
6     2022-06-14   2,492.97
7     2022-06-13   2,504.51
8     2022-06-10   2,595.87
9     2022-06-09   2,625.44
10    2022-06-08   2,626.15
11    2022-06-07   2,626.34
12    2022-06-03   2,670.65
13    2022-06-02   2,658.99
14    2022-05-31   2,685.90
15    2022-05-30   2,669.66
16    2022-05-27   2,638.05
17    2022-05-26   2,612.45
18    2022-05-25   2,617.22
19    2022-05-24   2,605.87
20    2022-05-23   2,647.38
21    2022-05-20   2,639.29
22    2022-05-19   2,592.34
23    2022-05-18   2,625.98
24    2022-05-17   2,620.44
25    2022-05-16   2,596.58
26    2022-05-13   2,604.24
27    2022-05-12   2,550.08
28    2022-05-11   2,592.27
29    2022-05-10   2,596.56

### 실습해보기
- KOSDAQ 데이터 수집 코드를 작성해보기

0. request와 pandas를 import.

In [25]:
import requests
import pandas as pd

1. 웹 서비스 분석하기 :  URL

In [26]:
url = 'https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize=10&page=2'

2. request(url) > response(json) : JSON(str)

In [28]:
response = requests.get(url)
response.text

'[{"localTradedAt":"2022-07-06","closePrice":"2,292.01","compareToPreviousClosePrice":"-49.77","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.13","openPrice":"2,330.11","highPrice":"2,332.14","lowPrice":"2,290.33"},{"localTradedAt":"2022-07-05","closePrice":"2,341.78","compareToPreviousClosePrice":"41.44","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.80","openPrice":"2,322.11","highPrice":"2,344.08","lowPrice":"2,309.62"},{"localTradedAt":"2022-07-04","closePrice":"2,300.34","compareToPreviousClosePrice":"-5.08","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.22","openPrice":"2,310.73","highPrice":"2,318.31","lowPrice":"2,276.63"},{"localTradedAt":"2022-07-01","closePrice":"2,305.42","compareToPreviousClosePrice":"-27.22","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.17","openPrice":"2,342.92","highPrice":"2,354.97","lowPrice":"2,291.49"},{"localTradedAt":"2022-06-30","closePrice":"2,332.64","compareToPreviousClosePrice":"-45.35","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.91","openPrice":"2,368.57","highPrice":"2,368.57","lowPrice":"2,332.59"},{"localTradedAt":"2022-06-29","closePrice":"2,377.99","compareToPreviousClosePrice":"-44.10","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.82","openPrice":"2,387.10","highPrice":"2,393.25","lowPrice":"2,375.45"},{"localTradedAt":"2022-06-28","closePrice":"2,422.09","compareToPreviousClosePrice":"20.17","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.84","openPrice":"2,405.20","highPrice":"2,422.10","lowPrice":"2,393.96"},{"localTradedAt":"2022-06-27","closePrice":"2,401.92","compareToPreviousClosePrice":"35.32","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.49","openPrice":"2,383.20","highPrice":"2,418.94","lowPrice":"2,365.86"},{"localTradedAt":"2022-06-24","closePrice":"2,366.60","compareToPreviousClosePrice":"52.28","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"2.26","openPrice":"2,327.11","highPrice":"2,373.48","lowPrice":"2,319.99"},{"localTradedAt":"2022-06-23","closePrice":"2,314.32","compareToPreviousClosePrice":"-28.49","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.22","openPrice":"2,347.84","highPrice":"2,361.23","lowPrice":"2,306.48"}]'

3. JSON(str) > list, dict > DataFrame

In [31]:
data = response.json()
data

[{'localTradedAt': '2022-07-06',
  'closePrice': '2,292.01',
  'compareToPreviousClosePrice': '-49.77',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-2.13',
  'openPrice': '2,330.11',
  'highPrice': '2,332.14',
  'lowPrice': '2,290.33'},
 {'localTradedAt': '2022-07-05',
  'closePrice': '2,341.78',
  'compareToPreviousClosePrice': '41.44',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '1.80',
  'openPrice': '2,322.11',
  'highPrice': '2,344.08',
  'lowPrice': '2,309.62'},
 {'localTradedAt': '2022-07-04',
  'closePrice': '2,300.34',
  'compareToPreviousClosePrice': '-5.08',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.22',
  'openPrice': '2,310.73',
  'highPrice': '2,318.31',
  'lowPrice': '2,276.63'},
 {'localTradedAt': '2022-07-01',
  'closePrice': '2,305.42',
  'compareToPreviousClosePrice': '-27.22',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.17',
  'openPrice': '2,342.92',
  'highPrice': '2,354.97',
  'lowPrice': '2,291.49'},
 {'localTradedAt': '2022-06-30',
  'closePrice': '2,332.64',
  'compareToPreviousClosePrice': '-45.35',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.91',
  'openPrice': '2,368.57',
  'highPrice': '2,368.57',
  'lowPrice': '2,332.59'},
 {'localTradedAt': '2022-06-29',
  'closePrice': '2,377.99',
  'compareToPreviousClosePrice': '-44.10',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.82',
  'openPrice': '2,387.10',
  'highPrice': '2,393.25',
  'lowPrice': '2,375.45'},
 {'localTradedAt': '2022-06-28',
  'closePrice': '2,422.09',
  'compareToPreviousClosePrice': '20.17',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.84',
  'openPrice': '2,405.20',
  'highPrice': '2,422.10',
  'lowPrice': '2,393.96'},
 {'localTradedAt': '2022-06-27',
  'closePrice': '2,401.92',
  'compareToPreviousClosePrice': '35.32',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '1.49',
  'openPrice': '2,383.20',
  'highPrice': '2,418.94',
  'lowPrice': '2,365.86'},
 {'localTradedAt': '2022-06-24',
  'closePrice': '2,366.60',
  'compareToPreviousClosePrice': '52.28',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '2.26',
  'openPrice': '2,327.11',
  'highPrice': '2,373.48',
  'lowPrice': '2,319.99'},
 {'localTradedAt': '2022-06-23',
  'closePrice': '2,314.32',
  'compareToPreviousClosePrice': '-28.49',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.22',
  'openPrice': '2,347.84',
  'highPrice': '2,361.23',
  'lowPrice': '2,306.48'}]

In [33]:
kosdaq = pd.DataFrame(data)
kosdaq.head(5)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2022-07-06,"2,292.01",-49.77,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-2.13,"2,330.11","2,332.14","2,290.33"
1,2022-07-05,"2,341.78",41.44,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.80,"2,322.11","2,344.08","2,309.62"
2,2022-07-04,"2,300.34",-5.08,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.22,"2,310.73","2,318.31","2,276.63"
3,2022-07-01,"2,305.42",-27.22,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.17,"2,342.92","2,354.97","2,291.49"
4,2022-06-30,"2,332.64",-45.35,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.91,"2,368.57","2,368.57","2,332.59"

In [38]:
def KOSDAQ(pagesize, page):
    url = f'https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize={pagesize}&page={page}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)

In [39]:
KOSDAQ(20,3)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2022-06-08,874.95,1.17,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.13,877.77,880.73,873.61
1,2022-06-07,873.78,-17.73,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.99,889.07,889.09,873.09
2,2022-06-03,891.51,0.37,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.04,897.08,899.01,890.20
3,2022-06-02,891.14,-2.22,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.25,890.47,892.98,888.45
4,2022-05-31,893.36,6.92,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.78,888.44,893.42,884.11
5,2022-05-30,886.44,12.47,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.43,882.17,886.44,881.46
6,2022-05-27,873.97,2.54,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.29,881.41,883.36,873.21
7,2022-05-26,871.43,-1.26,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.14,876.19,885.12,868.81
8,2022-05-25,872.69,7.62,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.88,869.19,877.71,861.92
9,2022-05-24,865.07,-18.52,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-2.10,881.55,883.11,865.05
10,2022-05-23,883.59,3.71,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.42,883.78,884.39,878.90
11,2022-05-20,879.88,16.08,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.86,866.76,880.17,866.76
12,2022-05-19,863.80,-7.77,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.89,853.23,866.61,849.59
13,2022-05-18,871.57,5.59,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.65,872.19,876.82,868.28
14,2022-05-17,865.98,9.73,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.14,857.28,866.21,856.30
15,2022-05-16,856.25,3.17,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.37,862.24,866.47,855.45
16,2022-05-13,853.08,19.42,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.33,839.52,853.34,839.52
17,2022-05-12,833.66,-32.68,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-3.77,855.46,857.75,833.24
18,2022-05-11,866.34,10.20,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.19,853.73,866.81,852.23
19,2022-05-10,856.14,-4.70,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.55,848.08,858.43,831.59

In [45]:
def stock_price(pagesize, page, code='KOSPI'):
    """This function is crawling stock price from naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ
    Return
    ------
    type : DataFrame : display date, price columns
    """
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[['localTradedAt', 'closePrice']]

In [47]:
# docstring : 함수를 사용하는 방법을 문자열로 작성
# help(), shift + tab
stock_price(20,3,'KOSDAQ')

   localTradedAt closePrice
0     2022-06-08     874.95
1     2022-06-07     873.78
2     2022-06-03     891.51
3     2022-06-02     891.14
4     2022-05-31     893.36
5     2022-05-30     886.44
6     2022-05-27     873.97
7     2022-05-26     871.43
8     2022-05-25     872.69
9     2022-05-24     865.07
10    2022-05-23     883.59
11    2022-05-20     879.88
12    2022-05-19     863.80
13    2022-05-18     871.57
14    2022-05-17     865.98
15    2022-05-16     856.25
16    2022-05-13     853.08
17    2022-05-12     833.66
18    2022-05-11     866.34
19    2022-05-10     856.14