### API
- application programing interface
- api를 사용해서 데이터를 수집하는 것은 서비스에 데이터를 제공하는 공식적인 방법으로 데이터 수집
- naver api : papago api : 번역 서비스

In [12]:
import pandas as pd
import requests, json

In [2]:
# 1. APP 등록 >  app_key(request_token)

In [4]:
CLIENT_ID, CLIENT_SECRET = "5teTA2j1YfP9QfmivfIz", "ocm8OZYTaY"

In [ ]:
# 2. Naver API Document 확인 > URL

In [5]:
txt = "파이썬은 재미있습니다." 
url = "https://openapi.naver.com/v1/papago/n2mt" 
params = {"source": "ko", "target": "en", "text": txt}
header = {
    "Content-Type" : "application/json",
    "X-Naver-Client-Id" : CLIENT_ID,
    "X-Naver-Client-Secret" : CLIENT_SECRET,
}

In [6]:
# 3. request(url, app_key) > response(json) : JSON(str)

In [10]:
# json.dumps()
# 인터넷 트래픽에서는 영문, 숫자, 특수문자만 사용가능
# 한글과 같은 문자를 인코딩(영문, 숫자, 특수문자)

In [14]:
response = requests.post(url, json.dumps(params), headers=header)
response

In [ ]:
# 4. JSON(str) > list, dict > DataFrame

In [23]:
response.json()["message"]["result"]["translatedText"]

'Python is fun.'

In [18]:
# 5. 함수로 작성

In [24]:
def translate(txt):
    CLIENT_ID, CLIENT_SECRET = "5teTA2j1YfP9QfmivfIz", "ocm8OZYTaY"
    url = "https://openapi.naver.com/v1/papago/n2mt" 
    params = {"source": "ko", "target": "en", "text": txt}
    header = {
        "Content-Type" : "application/json",
        "X-Naver-Client-Id" : CLIENT_ID,
        "X-Naver-Client-Secret" : CLIENT_SECRET,
    }
    response = requests.post(url, json.dumps(params), headers=header)
    return response.json()["message"]["result"]["translatedText"]

In [25]:
txt = "웹크롤링은 재미있습니다."
txt_en = translate(txt)
txt_en

'Web crawling is fun.'

In [26]:
# 한글 excel 파일을 영문 excel 파일로 변경하기

In [27]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: B4CB-64AF

 C:\Users\ferro\day1\code 디렉터리

2022-08-03  오후 04:46    <DIR>          .
2022-08-03  오후 04:46    <DIR>          ..
2022-08-03  오후 03:41    <DIR>          .ipynb_checkpoints
2022-08-03  오후 01:45            52,351 01_requests_naver_stock.ipynb
2022-08-03  오후 04:44             7,185 02_requests_api.ipynb
2022-08-03  오후 04:45            10,060 covid.xlsx
2022-08-03  오후 03:35            28,937 Untitled.ipynb
               4개 파일              98,533 바이트
               3개 디렉터리   8,902,795,264 바이트 남음

In [30]:
covid = pd.read_excel("covid.xlsx")[['category','title']]
covid.tail(2)

   category                                title
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [33]:
covid_en = covid['title'].apply(translate)

In [34]:
covid_en

0    SK Bioscience Submits Phase III Clinical Trial...
1    41 cumulative COVID-19 confirmed patients at G...
2    New COVID-19 infections, 542 people by 9 p.m. ...
3    Covid-19 confirmed cases in professional baseb...
4    "The day when there are zero confirmed cases o...
5    As the Olympics are approaching, the spread of...
Name: title, dtype: object

In [35]:
covid["title_en"] = covid_en
covid

,category,title,title_en
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase III Clinical Trial...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative COVID-19 confirmed patients at G...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,Covid-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are zero confirmed cases o..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [38]:
# utf-8-sig : excel 에서 사용하는 인코딩 방식과 호환이 되는 utf-8 인코딩 방식.
covid.to_excel("covid_en.xlsx", index=False, encoding="utf-8-sig")

In [37]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: B4CB-64AF

 C:\Users\ferro\day1\code 디렉터리

2022-08-03  오후 04:52    <DIR>          .
2022-08-03  오후 04:52    <DIR>          ..
2022-08-03  오후 03:41    <DIR>          .ipynb_checkpoints
2022-08-03  오후 01:45            52,351 01_requests_naver_stock.ipynb
2022-08-03  오후 04:50            10,485 02_requests_api.ipynb
2022-08-03  오후 04:45            10,060 covid.xlsx
2022-08-03  오후 04:52             6,161 covid_en.xlsx
2022-08-03  오후 03:35            28,937 Untitled.ipynb
               5개 파일             107,994 바이트
               3개 디렉터리   8,896,315,392 바이트 남음

In [43]:
a = 10

def change():
    global a # 전역 변수 a를 불러옴.
    a = 20

change()
print(a)

20