#### 원달러 환율 데이터 수집
- https://m.stock.naver.com/ > 시장지표 > 미국 USD > 월별시세(더보기)

In [1]:
# 최근 60일치 원달러 환율 데이터 수집

In [2]:
# 1. 웹서비스 분석 : URL

In [3]:
# 2. request(url) > response(json) : JSON(str)

In [4]:
# 3. JSON(str) > list, dict > DataFrame

In [23]:
import requests
import pandas as pd
# https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page=2&pageSize=10
def Exchange(page, pageSize, unit = 'USD'):
    """This function is crawling exchange rate from naver webpage.
    Params
    ------
    page : int : page number
    pageSize : int : one page size
    unit : str : exchange options : {USD(Default), JPY, EUR, GBP, CNY}
    Return
    ------
    type : DataFrame : display date, price columns
    """
    unit = unit.upper()
    url = f'https://api.stock.naver.com/marketindex/exchange/FX_{unit}KRW/prices?page={page}&pageSize={pageSize}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[['localTradedAt', 'closePrice']]

In [24]:
Exchange(2, 10, 'jpy')

  localTradedAt closePrice
0    2022-07-20     949.80
1    2022-07-19     949.27
2    2022-07-18     952.74
3    2022-07-15     955.06
4    2022-07-14     950.50
5    2022-07-13     951.48
6    2022-07-12     958.03
7    2022-07-11     955.88
8    2022-07-08     956.76
9    2022-07-07     958.01

In [ ]:
# 데이터분석
# 상관관계분석 : 두 데이터 집합 사이에 어떤 관계가 있는 확인하는 분석방법
# 원달러 환율이 높으면 코스피, 코스닥 지수가 낮다. > 음의 상관관계를 갖는다.

In [18]:
# 피어슨 상관계수 : df.corr()
# 1과 가까울수록 강한 양의 상관관계를 갖는다.
# -1과 가까울수록 강한 음의 상관관계를 갖는다.
# 0과 가까울수록 관계가 없다.

In [19]:
def stock_price(pagesize, page, code='KOSPI'):
    """This function is crawling stock price from naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ
    Return
    ------
    type : DataFrame : display date, price columns
    """
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[['localTradedAt', 'closePrice']]

In [43]:
page = 1; pagesize = 50
kospi = stock_price(pagesize,page)
kosdaq = stock_price(pagesize,page,'KOSDAQ')
usd = Exchange(page,pagesize)
df = kospi.copy()
df["kosdaq"] = kosdaq["closePrice"]
df["usd"] = usd["closePrice"]
df = df.rename(columns={"closePrice": "kospi"})
df

   localTradedAt     kospi  kosdaq       usd
0     2022-08-03  2,456.99  813.30  1,310.00
1     2022-08-02  2,439.62  804.34  1,312.00
2     2022-08-01  2,452.25  807.61  1,305.00
3     2022-07-29  2,451.50  803.62  1,304.50
4     2022-07-28  2,435.27  798.32  1,302.00
5     2022-07-27  2,415.53  795.70  1,314.00
6     2022-07-26  2,412.96  789.93  1,311.00
7     2022-07-25  2,403.69  789.69  1,312.00
8     2022-07-22  2,393.14  789.75  1,310.00
9     2022-07-21  2,409.16  795.15  1,315.00
10    2022-07-20  2,386.85  790.72  1,312.00
11    2022-07-19  2,370.97  782.33  1,309.00
12    2022-07-18  2,375.25  776.72  1,315.50
13    2022-07-15  2,330.98  762.39  1,325.00
14    2022-07-14  2,322.32  766.08  1,324.00
15    2022-07-13  2,328.61  763.18  1,305.00
16    2022-07-12  2,317.76  750.78  1,309.00
17    2022-07-11  2,340.27  767.04  1,314.00
18    2022-07-08  2,350.61  766.48  1,300.00
19    2022-07-07  2,334.27  757.97  1,300.50
20    2022-07-06  2,292.01  744.63  1,306.00
21    2022-07-05  2,341.78  750.95  1,311.50
22    2022-07-04  2,300.34  722.73  1,295.50
23    2022-07-01  2,305.42  729.48  1,298.00
24    2022-06-30  2,332.64  745.44  1,301.50
25    2022-06-29  2,377.99  762.35  1,297.50
26    2022-06-28  2,422.09  769.51  1,291.00
27    2022-06-27  2,401.92  770.60  1,285.00
28    2022-06-24  2,366.60  750.30  1,296.00
29    2022-06-23  2,314.32  714.38  1,303.50
30    2022-06-22  2,342.81  746.96  1,302.50
31    2022-06-21  2,408.93  778.30  1,293.50
32    2022-06-20  2,391.03  769.92  1,293.00
33    2022-06-17  2,440.93  798.69  1,295.00
34    2022-06-16  2,451.41  802.15  1,293.50
35    2022-06-15  2,447.38  799.41  1,291.50
36    2022-06-14  2,492.97  823.58  1,289.50
37    2022-06-13  2,504.51  828.77  1,288.00
38    2022-06-10  2,595.87  869.86  1,280.00
39    2022-06-09  2,625.44  877.18  1,256.00
40    2022-06-08  2,626.15  874.95  1,257.50
41    2022-06-07  2,626.34  873.78  1,257.50
42    2022-06-03  2,670.65  891.51  1,252.00
43    2022-06-02  2,658.99  891.14  1,250.50
44    2022-05-31  2,685.90  893.36  1,248.00
45    2022-05-30  2,669.66  886.44  1,238.50
46    2022-05-27  2,638.05  873.97  1,256.00
47    2022-05-26  2,612.45  871.43  1,265.50
48    2022-05-25  2,617.22  872.69  1,271.00
49    2022-05-24  2,605.87  865.07  1,265.00

In [44]:
# 컬럼의 데이터 타입 변경 : str > float
# df[column].apply(function) : 모든 데이터를 함수(function)에 대입한 결과를 출력
df["kospi"] = df["kospi"].apply(lambda data: float(data.replace(",", ""))) # ',' 제거 후 float 형변환.
df["kosdaq"] = df["kosdaq"].apply(lambda data: float(data.replace(",", "")))
df["usd"] = df["usd"].apply(lambda data: float(data.replace(",", "")))

In [45]:
# df.corr() 기본인자가 피어슨. spearman, kendal등을 이용하여 비선형도 적용 가능.
df[['kospi', 'kosdaq', 'usd']].corr()

           kospi    kosdaq       usd
kospi   1.000000  0.981284 -0.882812
kosdaq  0.981284  1.000000 -0.807328
usd    -0.882812 -0.807328  1.000000

In [47]:
agedf = pd.DataFrame([{"age": 23}, {"age": 36}, {"age": 27}])
agedf

   age
0   23
1   36
2   27

In [49]:
def change_ages(age):
    return age // 10 * 10

In [52]:
agedf["age"].apply(change_ages)

0    20
1    30
2    20
Name: age, dtype: int64

In [53]:
# lambda : 일회성 함수
# 사용 이유 : 간단한 함수(파라미터를 받아서 바로 리턴하는)를 메모리를 절약하여 사용

In [55]:
def plus(n1, n2):
    return n1+n2

def minus(n1, n2):
    return n1-n2

def calc(func, n1, n2):
    return func(n1, n2)

In [57]:
calc(plus, 1, 2), calc(minus, 1, 2)

(3, -1)

In [58]:
plus_lambda = lambda n1, n2: n1 + n2
plus(2,3), plus_lambda(2,3)

(5, 5)

In [3]:
import requests
import pandas as pd

In [16]:
# 실습 과제
# https://finance.daum.net/exchanges
# headers : referer, user-agent 설정
headers = {"referer" : 'https://finance.daum.net/exchanges/FRX.KRWUSD', "user-agent" : 'Mozilla/5.0'}
url = 'https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?symbolCode=FRX.KRWUSD&terms=days&page=1&perPage=10'
response = requests.get(url, headers=headers)
data = response.json()
display(data)
df = pd.DataFrame(data)
display(df)

{'data': [{'symbolCode': 'FRX.KRWUSD',
   'date': '2022-08-04 10:00:34',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 67,
   'basePrice': 1307.4,
   'change': 'FALL',
   'changePrice': 4.6,
   'changeRate': 0.0035060976,
   'cashBuyingPrice': 1330.27,
   'cashSellingPrice': 1284.53,
   'ttBuyingPrice': 1294.6,
   'ttSellingPrice': 1320.2,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1374,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-08-03 23:56:54',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 428,
   'basePrice': 1312.0,
   'change': 'EVEN',
   'changePrice': 0.0,
   'changeRate': 0,
   'cashBuyingPrice': 1334.96,
   'cashSellingPrice': 1289.04,
   'ttBuyingPrice': 1299.2,
   'ttSellingPrice': 1324.8,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1352,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-08-02 23:43:30',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 403,
   'basePrice': 1312.0,
   'change': 'RISE',
   'changePrice': 7.0,
   'changeRate': 0.0053639847,
   'cashBuyingPrice': 1334.96,
   'cashSellingPrice': 1289.04,
   'ttBuyingPrice': 1299.2,
   'ttSellingPrice': 1324.8,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1354,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-08-01 23:46:59',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 372,
   'basePrice': 1305.0,
   'change': 'RISE',
   'changePrice': 0.5,
   'changeRate': 0.0003832886,
   'cashBuyingPrice': 1327.83,
   'cashSellingPrice': 1282.17,
   'ttBuyingPrice': 1292.3,
   'ttSellingPrice': 1317.7,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1347,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-07-31 16:17:45',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 404,
   'basePrice': 1304.5,
   'change': 'FALL',
   'changePrice': 2.5,
   'changeRate': 0.0019127774,
   'cashBuyingPrice': 1327.32,
   'cashSellingPrice': 1281.68,
   'ttBuyingPrice': 1291.8,
   'ttSellingPrice': 1317.2,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1574,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-07-29 23:57:09',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 402,
   'basePrice': 1307.0,
   'change': 'RISE',
   'changePrice': 3.5,
   'changeRate': 0.0026850786,
   'cashBuyingPrice': 1329.87,
   'cashSellingPrice': 1284.13,
   'ttBuyingPrice': 1294.2,
   'ttSellingPrice': 1319.8,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1574,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-07-28 23:42:51',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 511,
   'basePrice': 1303.5,
   'change': 'FALL',
   'changePrice': 10.5,
   'changeRate': 0.0079908676,
   'cashBuyingPrice': 1326.31,
   'cashSellingPrice': 1280.69,
   'ttBuyingPrice': 1290.8,
   'ttSellingPrice': 1316.2,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.177,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-07-27 23:48:14',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 412,
   'basePrice': 1314.0,
   'change': 'RISE',
   'changePrice': 3.0,
   'changeRate': 0.0022883295,
   'cashBuyingPrice': 1336.99,
   'cashSellingPrice': 1291.01,
   'ttBuyingPrice': 1301.2,
   'ttSellingPrice': 1326.8,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1718,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-07-26 22:31:59',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 429,
   'basePrice': 1311.0,
   'change': 'FALL',
   'changePrice': 1.0,
   'changeRate': 0.0007621951,
   'cashBuyingPrice': 1333.94,
   'cashSellingPrice': 1288.06,
   'ttBuyingPrice': 1298.2,
   'ttSellingPrice': 1323.8,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1361,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}},
  {'symbolCode': 'FRX.KRWUSD',
   'date': '2022-07-25 23:36:56',
   'currencyCode': 'USD',
   'currencyName': '달러',
   'currencyUnit': 1,
   'country': '미국',
   'region': {'korName': '아메리카', 'engName': 'America'},
   'name': '미국 (KRW/USD)',
   'recurrenceCount': 525,
   'basePrice': 1312.0,
   'change': 'RISE',
   'changePrice': 2.0,
   'changeRate': 0.0015267176,
   'cashBuyingPrice': 1334.96,
   'cashSellingPrice': 1289.04,
   'ttBuyingPrice': 1299.2,
   'ttSellingPrice': 1324.8,
   'tcBuyingPrice': None,
   'fcSellingPrice': None,
   'exchangeCommission': 4.1346,
   'usDollarRate': 1.0,
   'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
    'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
    'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
    'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}}],
 'totalPages': 412,
 'currentPage': 1,
 'pageSize': 10}

,data,totalPages,currentPage,pageSize
0,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-08-...",412,1,10
1,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-08-...",412,1,10
2,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-08-...",412,1,10
3,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-08-...",412,1,10
4,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-07-...",412,1,10
5,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-07-...",412,1,10
6,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-07-...",412,1,10
7,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-07-...",412,1,10
8,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-07-...",412,1,10
9,"{'symbolCode': 'FRX.KRWUSD', 'date': '2022-07-...",412,1,10