In [2]:
import numpy as np
import pandas as pd
import requests, json

In [3]:
primary = 'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime'
key = 6792223997
save_type = 'json' # json or xml

In [4]:
def makeUrl(iYear, StCode, EdCode):
    global primary
    global key, save_type
    if (isinstance(StCode, str) and len(StCode) != 0) \
    or (isinstance(StCode, int) and StCode != 0):
        iStUnitCode = f'&iStUnitCode={StCode}' 
    else:
        iStUnitCode = ''
        
    if (isinstance(EdCode, str) and len(EdCode) != 0) \
    or (isinstance(EdCode, int) and EdCode != 0):
        iEdUnitCode = f'&iEdUnitCode={EdCode}'
    else:
        iEdUnitCode = ''
    url = f'{primary}?key={key}&type={save_type}&iYear={iYear}{iStUnitCode}{iEdUnitCode}&numOfRows=10&PageNo=1'
    response = requests.get(url).json()
    rows = response['count']
    url = f'{primary}?key={key}&type={save_type}&iYear={iYear}{iStUnitCode}{iEdUnitCode}&numOfRows={rows}&PageNo=1'
    return url

In [5]:
StCode = 101 # 출발 서울. (출발영업소코드)
EdCode = 140 # 도착 부산. (도착영업소코드)
rows = 10
pageNo = 1

In [6]:
urls = []
iYear = list(range(2020,2022))
for year in iYear:
    url = makeUrl(year, StCode, EdCode)
    urls.append(url)

In [7]:
urls

['http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key=6792223997&type=json&iYear=2020&iStUnitCode=101&iEdUnitCode=140&numOfRows=418&PageNo=1',
 'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key=6792223997&type=json&iYear=2021&iStUnitCode=101&iEdUnitCode=140&numOfRows=414&PageNo=1']

In [13]:
response = requests.get(urls[1]).json()
data = pd.DataFrame(response['intercityLeadTimeLists'])

In [9]:
data.head()
# stdHour : 기준시
# sphlDfttNm : 특수일구분명
# sphlDfttCode : 특수일구분코드
# sphlDfttScopTypeNm : 특수일 전후 특송기간범위 구분명
# sphlDfttScopTypeCode : 특수일 전후 특송기간범위 구분코드
# dirNm : 방향명
# trtm : 통행시간(분)

,stdHour,iYear,iStUnitCode,iEdUnitCode,stdYear,sphlDfttNm,sphlDfttCode,sphlDfttScopTypeNm,sphlDfttScopTypeCode,stUnitNm,stUnitCode,edUnitNm,edUnitCode,dirNm,dirCode,trtm,message,code
0,00,None,None,None,2020,연말연시,1,D,4,서울,101,부산,140,귀성방향,1,270.116000000000000000000000,None,None
1,01,None,None,None,2020,연말연시,1,D,4,서울,101,부산,140,귀성방향,1,288.816000000000000000000000,None,None
2,02,None,None,None,2020,연말연시,1,D,4,서울,101,부산,140,귀성방향,1,303.716500000000000000000000,None,None
3,03,None,None,None,2020,연말연시,1,D,4,서울,101,부산,140,귀성방향,1,316.116500000000000000000000,None,None
4,04,None,None,None,2020,연말연시,1,D,4,서울,101,부산,140,귀성방향,1,346.966000000000000000000000,None,None

In [17]:
data['sphlDfttNm'].unique()

array(['연말연시', '설날'], dtype=object)