# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

In [ ]:
# 필요 라이브러리부터 설치할께요.
#!pip install pandas seaborn

---

# (실습준비) 데이터 불러오기부터

In [2]:
import pandas as pd
from datetime import datetime, timedelta

# 학습 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

In [34]:
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')

In [18]:
pd.set_option('display.max_columns', 100)

---

# 1. 이상치/결측치 처리

#### [실습문제1] 미세먼지 데이터 결측치 처리
* 미세먼지 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.


* 앞서 데이터 불러오기 및 분석 단계에서 확인한 불필요한 변수에 대해 제거 해 주세요.

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [6]:
air_dropcols = ['지역', '망', '측정소코드', '측정소명', '주소']
air_21.drop(air_dropcols, axis=1, inplace=True)
air_22.drop(air_dropcols, axis=1, inplace=True)

In [15]:
air_21.rename(columns={'일시':'측정일시'}, inplace=True)
air_22.rename(columns={'일시':'측정일시'}, inplace=True)

In [16]:
air_21.head()

         측정일시    SO2   CO     O3    NO2  PM10  PM25  hour
0  2021-10-01  0.003  0.6  0.002  0.039  31.0  18.0     1
1  2021-10-01  0.003  0.6  0.002  0.035  27.0  16.0     2
2  2021-10-01  0.003  0.6  0.002  0.033  28.0  18.0     3
3  2021-10-01  0.003  0.6  0.002  0.030  26.0  16.0     4
4  2021-10-01  0.003  0.5  0.003  0.026  26.0  16.0     5

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

#### [실습문제2] 날씨 데이터 결측치 처리
* 날씨 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.

* '강우량'을 어떻게 해야할까요?

In [39]:
weather_21.head()

,측정일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),hour
0,2021-01-01,-8.7,NaN,2.4,270.0,68,2.2,-13.5,1016.4,1027.7,NaN,NaN,NaN,0.0,0,NaN,2000,-6.9,-1.0,-0.8,0.3,1.6,1
1,2021-01-01,-9.1,NaN,1.6,270.0,69,2.1,-13.7,1016.2,1027.5,NaN,NaN,NaN,0.0,0,NaN,2000,-7.1,-1.1,-0.8,0.3,1.6,2
2,2021-01-01,-9.3,NaN,1.1,250.0,70,2.1,-13.7,1016.8,1028.1,NaN,NaN,NaN,0.0,0,NaN,2000,-7.3,-1.2,-0.9,0.3,1.6,3
3,2021-01-01,-9.3,NaN,0.3,0.0,71,2.2,-13.5,1016.2,1027.5,NaN,NaN,NaN,0.0,0,NaN,2000,-7.5,-1.3,-1.0,0.2,1.5,4
4,2021-01-01,-9.7,NaN,1.9,20.0,72,2.1,-13.8,1015.6,1026.9,NaN,NaN,NaN,0.0,0,NaN,2000,-7.6,-1.3,-1.0,0.2,1.5,5

In [38]:
drop_col = ['지점','지점명', '지면상태(지면상태코드)', '현상번호(국내식)','3시간신적설(cm)','운형(운형약어)','지면상태(지면상태코드)',
           '기온 QC플래그', '강수량 QC플래그', '풍속 QC플래그', '풍향 QC플래그',
          '습도 QC플래그', '현지기압 QC플래그', '해면기압 QC플래그', '일조 QC플래그', '일사 QC플래그',
          '지면온도 QC플래그']
weather_21.drop(drop_col, axis=1, inplace=True)

KeyError: "['지점', '지점명', '지면상태(지면상태코드)', '현상번호(국내식)', '3시간신적설(cm)', '운형(운형약어)', '지면상태(지면상태코드)', '기온 QC플래그', '강수량 QC플래그', '풍속 QC플래그', '풍향 QC플래그', '습도 QC플래그', '현지기압 QC플래그', '해면기압 QC플래그', '일조 QC플래그', '일사 QC플래그', '지면온도 QC플래그'] not found in axis"

In [ ]:
weather_22.drop(drop_col, axis=1, inplace=True)

In [61]:
weather_22.isna().sum()

측정일시                0
기온(°C)              0
강수량(mm)             0
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)              0
일사(MJ/m2)           0
적설(cm)              0
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )      1417
시정(10m)             0
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
hour                0
dtype: int64

In [63]:
weather_21.isna().sum()

측정일시                0
기온(°C)              0
강수량(mm)             0
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)              0
일사(MJ/m2)           0
적설(cm)              0
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )      4212
시정(10m)             0
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
hour                0
dtype: int64

In [45]:
# 2021-01-07 11:00~13:00 제외한 값은 nan이므로 밤일때는 일조, 일사량을 0으로 채운다.
weather_21.loc[((weather_21['hour']>18) | (weather_21['hour']<8)) &  (weather_21['일조(hr)'].isnull()), '일조(hr)'] = 0
weather_21.loc[((weather_21['hour']>18) | (weather_21['hour']<8)) &  (weather_21['일사(MJ/m2)'].isnull()), '일사(MJ/m2)'] = 0

In [51]:
weather_22['일조(hr)'].fillna(0, inplace=True)
weather_22['일사(MJ/m2)'].fillna(0, inplace=True)

In [52]:
weather_21['강수량(mm)'].fillna(0, inplace=True)
weather_22['강수량(mm)'].fillna(0, inplace=True)
weather_21['적설(cm)'].fillna(0, inplace=True)
weather_22['적설(cm)'].fillna(0, inplace=True)

In [57]:
weather_21['풍속(m/s)'] = weather_21['풍속(m/s)'].interpolate()

In [58]:
weather_21['풍향(16방위)'] = weather_21['풍향(16방위)'].fillna(method='ffill')

In [62]:
cols3 = ['일조(hr)', '일사(MJ/m2)', '전운량(10분위)', '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)']
for column in cols3:
    weather_21[column] = weather_21[column].interpolate()

In [64]:
weather_21.to_csv('pre_weather_2021.csv', index=False)
weather_22.to_csv('pre_weather_2022.csv', index=False)

In [12]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),hour
0,2021-01-01,-8.7,NaN,2.4,270.0,68,2.2,-13.5,1016.4,1027.7,...,0.0,0,NaN,2000,-6.9,-1.0,-0.8,0.3,1.6,1
1,2021-01-01,-9.1,NaN,1.6,270.0,69,2.1,-13.7,1016.2,1027.5,...,0.0,0,NaN,2000,-7.1,-1.1,-0.8,0.3,1.6,2
2,2021-01-01,-9.3,NaN,1.1,250.0,70,2.1,-13.7,1016.8,1028.1,...,0.0,0,NaN,2000,-7.3,-1.2,-0.9,0.3,1.6,3
3,2021-01-01,-9.3,NaN,0.3,0.0,71,2.2,-13.5,1016.2,1027.5,...,0.0,0,NaN,2000,-7.5,-1.3,-1.0,0.2,1.5,4
4,2021-01-01,-9.7,NaN,1.9,20.0,72,2.1,-13.8,1015.6,1026.9,...,0.0,0,NaN,2000,-7.6,-1.3,-1.0,0.2,1.5,5

#### [실습문제3] air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성하기


* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
def air_date(air_21):
    List = list(air_21['측정일시'])
    for i in range(len(List)):
        string = str(List[i])
        date = string[:8]
        hour = string[-2:]
        formatted = datetime.strptime(date,'%Y%m%d')
        formatted = formatted + timedelta(hours=int(hour))
        air_21['측정일시'][i] = formatted

    air_21['측정일시'] = pd.to_datetime(air_21['측정일시'])
    air_21['hour'] = air_21['측정일시'].dt.hour
    air_21['측정일시'] = air_21['측정일시'].dt.date
    return air_21
air_21 = air_date(air_21)
air_22 = air_date(air_22)

#### [실습문제4] weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성하기


* weather_21, weather_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_22['일시'] = pd.to_datetime(weather_22['일시'])
weather_22['hour'] = weather_22['일시'].dt.hour
weather_22['일시'] = weather_22['일시'].dt.date

In [36]:
weather_21['일시'] = pd.to_datetime(weather_21['일시'])
weather_21['hour'] = weather_21['일시'].dt.hour
weather_21['일시'] = weather_21['일시'].dt.date

In [37]:
weather_21.rename(columns={'일시':'측정일시'}, inplace=True)

In [17]:
weather_22.rename(columns={'일시':'측정일시'}, inplace=True)

---

# 2. 데이터 합치기
* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보겠습니다

#### [실습문제5] 데이터 합치기
* 'df_21','df_22'에 21년도와 22년도의 미세먼지, 날씨 데이터를 합쳐 넣도록 하겠습니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

#### [실습문제6] 각종 인자 추가 및 사용하지 않을 변수 제거

* 새로운 인자를 추가 하세요.


* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

---

# 3. train / test split

#### [실습문제7] 데이터셋 나누기 

* 데이터셋을 train(21년도 데이터), test(22년도 데이터)로 나눠 csv로 저장하도록 하겠습니다.


* train_x / train_y / test_x / test_y 로 나누세요.


* train_x.csv / train_y.csv / test_x.csv / test_y.csv 로 저장하세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

---